@import "tailwindcss";

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --background: var(--off-white);
  --foreground: var(--very-dark-blue);
}

@theme inline {
  --color-soft-orange: var(--soft-orange);
  --color-soft-red: var(--soft-red);
  --color-off-white: var(--off-white);
  --color-dark-grayish-blue: var(--dark-grayish-blue);
  --color-very-dark-blue: var(--very-dark-blue);
  --color-grayish-blue: var(--grayish-blue);

  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter, sans-serif);
  font-size: 15px;
}
